
.swiper-slide a {display: block;text-align: center;}
.swiper-slide img {display: inline-block;}
@media (max-width:780px) {
    .swiper-slide img {width: 100%;}
    .buttons-tab a{font-size:.6rem !important;;}
}

.some-title{font-size:.6rem;margin:0;margin:.5rem .5rem 0 .5rem;}
.some-title a{color:#999;}
.products{background:#fff;display:block;margin-left:0;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;}
.products+.products{border-top:none;}
.products>.col{position:relative;}
.products>.col+.col:before{position:absolute;content:'';height:100%;left:-.25rem;width:1px;background:#dcdcdc;top:0;}
.goods{text-align: center;display: block;}
.goods img{max-width: 100%;}
.goods-title{font-size:.6rem;color:#999;width:100%;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

/**CopyRight**/
#copyright{margin-top:1rem;border-top:1px dotted #dcdcdc;color:#999;font-size:.6rem;}
#copyright p{vertical-align: middle;margin:.5rem 0;}
#copyright a{color:#999;font-size: .6rem;}